.pop-layer .pop-container {
    padding: 20px 25px;
}

.pop-layer p.ctxt {
    color: #666;
    line-height: 25px;
    font-size:14px;
}

.pop-layer .btn-r {
    width: 100%;
    margin: 10px 0 20px;
    padding-top: 10px;
    border-top: 1px solid #DDD;
    text-align: right;
}
.pop-layer .btn-r button {
    display: inline-block;
    height: 35px;
    border-radius: 4px;
    background: #599c42;
    color: #fff;
    font-size: 14px;
    /* font-weight: bold; */
    text-align: center;
    line-height: 35px;
    margin-top: 20px;
    padding: 0 15px;


    /* cursor: pointer;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    font-size: 14px;
    font-family: 'NotoSans','Roboto','Droid Sans','Malgun Gothic','Helvetica','Apple-Gothic','애플고딕','Tahoma',dotum,'돋움',gulim,'굴림', sans-serif;
    background: none; */
}

.pop-layer {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: auto;
    background-color: #fff;
    /* border: 5px solid #33b638; */
    border: 5px solid #838383;
    z-index: 100000;
}

/*a.btn-layerClose {*/
    /*display: inline-block;*/
    /*height: 25px;*/
    /*padding: 0 14px 0;*/
    /*border: 1px solid #4ad489;*/
    /*background-color: #4ad489;*/
    /*font-size: 13px;*/
    /*color: #fff;*/
    /*line-height: 25px;*/
/*}*/

/*a.btn-layerClose:hover {*/
    /*border: 1px solid #091940;*/
    /*background-color: #1f326a;*/
    /*color: #fff;*/
/*}*/

@media(min-width: 768px) {
    .pop-layer p.ctxt {
        font-size:16px;
    }
    .pop-layer {
        top: 50px;
        left: 50px;
        width: 700px;
        height: auto;
    }
}

@media(min-width: 1024px) {
    .pop-layer p.ctxt {
        font-size:16px;
    }
    .pop-layer {
        top: 50px;
        left: 50px;
        width: 800px;
        height: auto;
    }
}
